language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4

services:
  - mysql
  - postgresql

before_script:
  - curl -sSfL -o ~/.phpenv/versions/hhvm/bin/phpunit https://phar.phpunit.de/phpunit-6.5.14.phar
  - composer install --no-interaction --prefer-source
  - mysql -e 'CREATE DATABASE picodb;'
  - psql -c 'create database picodb;' -U postgres

script:
  - vendor/bin/phpunit
