services:
  php:
    build: docker/php
    command: /app/vendor/bin/phpunit /app/tests
    volumes:
      - .:/app
    links:
      - mysql
      - postgres
    environment:
      - MYSQL_HOST=mysql
      - POSTGRES_HOST=postgres
      - MSSQL_HOST=sqlserver
  mysql:
    image: mysql:8.0-oracle
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: picodb
      MYSQL_USER: test
      MYSQL_PASSWORD: test
    ports:
      - "3306:3306"
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: rootpassword
      POSTGRES_DB: picodb
    ports:
      - "5432:5432"
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      ACCEPT_EULA: Y
      MSSQL_PID: Developer
      MSSQL_SA_PASSWORD: r00t_Password
    ports:
      - "1433:1433"